<a href="/"><img src="{{ base_url }}/assets/img/koala_logo-small.png" height="10%" width="10%" style="min-width: 89.5px; min-height: 50px; max-width: 358px; max-height: 200px;" /></a>

<nav>
  <div style="display: inline-block; width: 100px;">
    <a href="{{ base_url }}/about" alt="About Us Link">About</a>
  </div>
  <div style="display: inline-block; width: 100px;">
    <a href="{{ base_url }}/MACCs" alt="MACCs App Link">MACCs</a>
  </div>
  <div style="display: inline-block; width: 100px;">
    <a href="{{ base_url }}/contact" alt="Contact Us Link">Contact</a>
  </div>
</nav>