<a href="/"><img src="{{ base_url }}/assets/img/koala-logo.png" style="height: 32px; margin: 0 4px 24px 4px;" /><img src="{{ base_url }}/assets/img/koala-health-dev-logo.png" style="height: 56px; margin-right: 4px;" /></a>

<nav>
  <div style="display: inline-block; width: 100px;">
    <a href="{{ base_url }}/about" alt="About Us Link">About</a>
  </div>
  <!-- <div style="display: inline-block; width: 100px;">
    <a href="{{ base_url }}/MACCs" alt="MACCs App Link">MACCs</a>
  </div> -->
  <div style="display: inline-block; width: 100px;">
    <a href="{{ base_url }}/contact" alt="Contact Us Link">Contact</a>
  </div>
</nav>