<section class="plain-container" style="margin: 30px auto; text-align: left;">
    <h2 style="font-size: 30px; text-align: center;">Frequently Asked Questions</h2>


    <h3>What is a Scoliometer?</h3>
    <p>A scoliometer is a tool to measure the degree of "vertebral rotation" or ATR (angle of trunk rotation) in .  This allows health care professionals to better assess the severity of trunk asymmetry caused by scoliosis and provide you a more informed, individualized care.</p>

    <h3>How do you use a digital scoliometer?</h3>
    <p>The person who is being measured bends</p>
</section>
