<section class="plain-container" style="margin: 30px auto; text-align: left;">
    <h2 style="font-size: 30px; text-align: center;">Frequently Asked Questions</h2>


    <h3>What is a Scoliometer?</h3>
    <p>A scoliometer is a tool to measure the degree of "axial vertebral rotation" or ATR (angle of trunk rotation) in the Adam's Forward Bend Test.  This allows health care professionals to better assess the severity of trunk asymmetry caused by scoliosis and provide you a more informed, individualized care.</p>

    <h3>How do you use a digital scoliometer?</h3>
    <p>1) The person who is being measured should have their shirt off so the spine is visible.</p>
    <p>2) The person being measured bends over at the waist until the back comes to a horizontal plane.</p>
    <p>3) The person's feet should be together with arms hanging, palms together (as if diving into a pool), and knees extended (not bent).  Ensure the floors are level where standing.</p>
    <p>4) The trained provider stands or sits behind with the Scolio app installed on a recommended iPhone model.</p>
    <p>5) The trained provider can either lay the phone (screen facing the provider in landscape/"hotdog") on the person's back where there is a vertebral hump, or use the Otte technique.</p>
    <p>6) If using the Otte scoliometry technique, hold the phone with both thumbs between the back and the phone.  The thumbs should be pressed evenly into the phone.</p>
    <p>7) Calibrate the scoliometer by laying the thumbs on the back while holding the phone in the horizontal plane and tapping the angle readout.  Make sure to keep thumbs held comfortably to keep them consistent through the test.  If there is no horizontal, imaging may be recommended.</p>
    <p>8) Now, drag the thumbs along the person's back, making sure to keep the spine centered between the thumbs and the phone (the vertebra image is presented with a center line for assistance).</p>
    <p>9) You can optionally capture angles as you drag toward the lower back.</p>
    <p>10) As you approach the lumbar, have the patient bend farther, if possible, and continue the measurements.</p>

    <h3>What iPhone models are recommended for Scolio?</h3>
    <p>The recommended iPhones are <strong>iPhone 6S, iPhone 6S Plus, iPhone 7, iPhone 7 Plus, iPhone 8, iPhone 8 Plus, iPhone X, iPhone XS, iPhone XS Max, iPhone XR, iPhone 11, iPhone 11 Pro, and iPhone 11 Pro Max</strong>.  Scolio has been tested for all Apple supported iPhones running the latest iOS 13 (last updated: 03/01/2020).  iPhone SE and iPhones with the similar screen resolution are not recommended.  Any older iPhone generations and iPhones not running iOS 13 are also not recommended.</p>
</section>
