body {
    font-family: 'Lato'; font-weight: 200;
    margin: 0;
}

header {
    margin: 50px 0 0 0;
    text-align: center;
}

nav {
    margin: 20px auto 35px auto;
}

nav a {
    color: #aaa;
    display: inline-block;
    font-size: 20px;
    margin: 0 10px;
    position: relative;
    text-decoration: none;
}

nav a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #333;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 100ms ease-in-out 0s;
    transition: all 100ms ease-in-out 0s;
}

nav a:hover {
    color: #333;
}

nav a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

hr {
    background: #ccc;
    border: none;
    width: 50%;
    height: 1px;
}

hr.divider {
    margin: 30px auto;
}

footer {
    margin: 0 0 20px 0;
    text-align: center;
}

footer a {
    color: #000;
}

strong {
    font-weight: bold;
}

.plain-container {
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
}

.plain-container h3 {
    font-size: 30px;
    margin: 50px 0 0 0;
}

.plain-container p {
    font-size: 24px;
}

amp-video.contain {
    background: #fff;
    height: 0;
    max-height: 1080px;
    max-width: 1920px;
    overflow: hidden; 
    margin: 0 auto;
    padding-top: calc(1080 / 1920 * 100%);
    position: relative;
}

amp-video.contain video {
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    outline: 0;
    border: 0;
}