body {
    font-family: 'Lato'; font-weight: 200;
    margin: 0;
}

.newspaper-gray-bg {
    background-color: rgba(220,220,220,0.3);
    /*background-color: rgba(197,199,191,0.3);*/ /* Should be used in front of white background. Newspapers has low alpha. */
}

header {
    margin: 50px 0 0 0;
    text-align: center;
}

nav {
    margin: 20px auto 35px auto;
}

nav a {
    color: #aaa;
    display: inline-block;
    font-size: 20px;
    margin: 0 10px;
    position: relative;
    text-decoration: none;
    vertical-align: top;
}

nav a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #333;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 100ms ease-in-out 0s;
    transition: all 100ms ease-in-out 0s;
}

nav a:hover {
    color: #333;
}

nav a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

hr {
    background: #ccc;
    border: none;
    width: 50%;
    height: 1px;
}

hr.divider {
    margin: 30px auto;
}

footer {
    margin: 0 0 20px 0;
    text-align: center;
}

footer a {
    color: #000;
}

strong {
    font-weight: bold;
}

.plain-container {
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
}

.plain-container h3 {
    font-size: 30px;
    margin: 50px 0 0 0;
}

.plain-container p {
    font-size: 24px;
}

.section-container {
    box-sizing: border-box;
    background: #eee; 
    padding: 16px; border-radius: 16px; width: 80%; max-width: 1600px; margin: 80px auto 100px auto; text-align: center;
}

.flex-container {
    align-content: flex-start;
    align-items: stretch; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item {
    flex: 1 0 28%;
    margin: 8px;
    text-align: left;
}

.subtle-link {
    color: #aaa;
    font-size: 24px;
    text-decoration: none;
}

a.subtle-link:hover {
    color: #333;
    text-decoration: underline;
}

.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
@keyframes TransitioningBackground {
    0% {
      background-position: 1% 0%;
    }
    50% {
      background-position: 99% 100%;
    }
    100% {
      background-position: 1% 0%;
    }
}
.shiny-button {
    font-size: 1rem;
    font-weight: 600;
    color: white;
    display: inline-block;
    text-align: center;
    width: 200px;
    height: 60px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    /* background-image: linear-gradient(270deg, #8e9ac2, #42579a); */
    /* background-image: linear-gradient(270deg, #42579a, #42579a); */
    background-image: linear-gradient(to left, #2d8fe5, #d155b8);
    background-size: 400% 400%;
    animation: TransitioningBackground 10s ease infinite;
    transition: 0.6s;
    line-height: 58px;
    vertical-align: middle;
    text-decoration: none;
}
.shiny-button::before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 60px;
    height: 100%;
    top: 0;
    filter: blur(30px);
    transform: translateX(-100px) skewX(-15deg);
}
.shiny-button::after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 30px;
    height: 100%;
    top: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
}
.shiny-button:hover {
    background-image: linear-gradient(to left, #2d8fe5, #d155b8);
    transform: scale(1.2);
    cursor: pointer;
    text-decoration: underline;
}
/* .shiny-button:hover::before, .shiny-button:hover::after {
    transform: translateX(300px) skewX(-15deg);
    transition: 0.6s;
} */
  